.container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 30em;
}

/* ↑ These are okey ... */

.container {
  width: 30em;
  flex-flow: row nowrap;
  display: flex;
  justify-content: space-around;
}

/* ↑ ... and these are not */
